<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../Styles/bootstrap.min.css">
	<link rel="stylesheet" href="../Styles/automation.css">
	<title>Automation</title>
</head>
<body>
	<div id="automationLog" class="container-fluid">
		<h4 id="automationTitle">Automation</h4>
	</div>

	<div class="text-center py-1">
		<button id="closeButton" class="d-none btn btn-success text-center">Close</button>
	</div>
	
	<script src="../Scripts/lib/browser-polyfill.min.js"></script>
	<script type="module" src="../Scripts/automation.js"></script>
</body>
</html>