<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../Styles/bootstrap.min.css">
	<link rel="stylesheet" href="../Styles/popup.css">
</head>
<body>
	<ul id="automationsContainer" class="list-group list-group-flush d-none"></ul>
	<div id="eventsContainer"></div>
	<div id="action-buttons">
		<button id="automationsButton" class="btn btn-primary btn-sm">Automations</button>
		<button id="bypassCertSecurityButton" class="d-none btn btn-success btn-sm">Bypass Certificate Error</button>
		<button id="optionsButton" class="btn btn-dark btn-sm">Options</button>
	</div>

	<script src="../Scripts/lib/browser-polyfill.js"></script>
	<script type="module" src="../Scripts/popup.js"></script>
</body>
</html>